.idea
*/DS_Store
.DS_Store

#BE
be/target/
be/build/
be/.gradle/
be/.idea/
be/*.iml
be/out/
be/src/main/generated
be/bin
be/.env
be.zip
be/be_*.zip

#FE
fe/node_modules/
fe/.npm/
fe/.pnpm-store/
fe/.next/
fe/out/
fe/dist/
fe/.env
fe/.env.*
fe/!.env.local.example